@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bgLayout;
  }
}

@layer components {
  .card-primary {
    @apply bg-cardBg p-2 drop-shadow-sm sm:rounded-lg;
  }
  .card-secondary {
    @apply text-center p-2 bg-gradient-to-br rounded-lg from-multiColorBtn-200 to-multiColorBtn-100 text-white font-semibold;
  }
  .card-tertiary {
    @apply text-center p-2 bg-gradient-to-br rounded-lg from-secondary-100 to-secondary-200 text-white font-semibold;
  }
  .button-primary {
    @apply text-center px-2 py-1.5 bg-gradient-to-br rounded-lg from-multiColorBtn-200 to-multiColorBtn-100 text-white font-bold;
  }
  .input-primary {
    @apply mb-1 bg-gray-50 border border-textSecondary text-textPrimary text-sm rounded-md block w-full px-3 py-1.5 outline-none;
  }
}
